/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Rowdies",sans-serif;
}
p {
  padding: 0 !important;
  margin: 0 !important;
}
p{
  overflow-wrap: break-word !important;
}
/* Centering the element at center of page */
.App-header {
  background-color: #ebebeb;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: #000;
}
/* Navbar */
.navbar-css {
  background-color: #0b0c10 !important;
  box-shadow: -2px 8px 6px -5px #1f2833;
}
.navbar-brand {
  color: #66fcf1 !important;
  letter-spacing: 3px !important;
  text-shadow: -1px -1px 0 #1f2833, 1px -1px 0 #1f2833, -1px 1px 0 #1f2833,
    1px 1px 0 #1f2833;
}
.navbar-toggler {
  background-color: #1f2833 !important;
}
.nav-link {
  color: #66fcf1 !important;
}
.nav-link:hover {
  color: #45a29e !important;
}
.active > .nav-link {
  color: #c5c6c7 !important;
}

/* HomePage */
.homepage-css span {
  color: #13c7bb;
  letter-spacing: 2px;
  /* text-shadow: -1px -1px 0 #1f2833, 1px -1px 0 #1f2833, -1px 1px 0 #1f2833,
    1px 1px 0 #1f2833; */
}
.homepage-css {
  color: #45a29e;
  /* text-shadow: -1px -1px 0 #1f2833, 1px -1px 0 #1f2833, -1px 1px 0 #1f2833,
    1px 1px 0 #1f2833; */
  letter-spacing: 2px;
}

/* SinginPage */
.signintext-css,
.signuptext-css {
  color: #45a29e;
  letter-spacing: 3px;
  /* text-shadow: -1px -1px 0 #1f2833, 1px -1px 0 #1f2833, -1px 1px 0 #1f2833, 1px 1px 0 #1f2833; */
}
/* Form */
.label-css {
  color: #0b0c10 !important ;
}
.form-control {
  color: #1f2833 !important;
}

/* Button */
.btn-outline-css {
  color: #0b0c10 !important;
  border-color: #0b0c10 !important;
}
.btn-outline-css:hover {
  background-color: #66fcf1 !important;
  border-color: #0b0c10 !important;
}
.btn-outline-css-light:hover{
  background-color: #66fcf1 !important;
  color: #1b3d3c !important;
}
.btn-outline-css-dark:hover{
  background-color: #45a29e !important;
  color: #ffffff !important;
}

/* Link */
.link-css {
  color: #45a29e;
}
.link-css:hover {
  color: #0b0c10;
}

/* Listing of shortened Page */
.list-group {
  background-color: #0b0c10 !important;
  border: solid 1px #45a29e !important ;
  color: black !important;
}
.list-group-item {
  background-color: #0b0c10 !important;
  border: solid 1px #45a29e !important ;
  color: black !important;
}
.list-style {
  text-decoration: none !important;
  color: #66fcf1;
}
.list-style-dark,
.list-style:hover {
  text-decoration: none !important;
  color: #45a29e;
}
.listbackground-css {
  background-color: #ebebeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(7px + 2vmin);
  color: #000;
}
/* Footer  */
.footer-css {
  background-color: #0b0c10 !important;
  height: 6vh;

}